@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800|Roboto:300,400,500,700,900');

html,
body {
    height: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.content-items-wrapper {
    margin-bottom: 100px;
}
.content-items-wrapper .container {
    width: 90%;
}
.content-items-wrapper .sidebar {
    height: 65vh;
    width: 260px;
    position: absolute;
    border-radius: 7px;
    border: 2px solid #f24796;
    padding: 20px;
}

/* Material Design heres */

header,
main,
footer {
    /*margin-left: 300px;*/
}
/* Footer */

.footer-copyright {
    background-color: #1f1e1e !important;
}
.page-footer {
    background-color: rgba(42, 42, 42, 0.94);
}
/* SideBar */
.side-bar-logo {
    position: relative;
    height: 176px;
}
.side-bar-logo img {
    width: 59px;
    position: absolute;
    top: 23px;
}
.side-bar-logo h3 {
    position: absolute;
    top: 12px;
    right: 0px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
}
.waves-effect.waves-red .waves-ripple {
    background-color: rgba(238, 9, 121, 0.8) !important;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: black;
    display: block;
    background-image: url(http://via.placeholder.com/60x60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
}
.sidebar-trigger {
    display: none;
    position: absolute;
    color: white;
    top: 50px;
    left: 58px;
}
.sidebar-trigger i {
    font-size: 50px
}
.account-sidebar .background {
    height: 176px;
    width: 100%;
    background-color: rgb(241, 69, 150);
}

/* Header */
.subpage-header {
    height: 176px;
    background: linear-gradient(to left, rgb(251, 132, 127), rgba(238, 9, 121, 0.8));
    background-image: url('/application/assets/img/header-background.jpg');
    background-size: cover;
    position: relative;
}
.subpage-header:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 176px;
    top: 0;
    left: 0;
    background-size: 400% 400%;
    background: linear-gradient(to left, rgb(251, 132, 127), rgba(238, 9, 121, 0.8));
}
.subpage-header h2 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding-top: 25px;
    margin-top: 10px;
    color: #ffffff;
    font-weight: 800;
    font-size: 45px;
    float: left;
    text-transform: uppercase;
}

/* Global Options */

.section-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 800;
    color: #3b3b3b;
    margin-left: 0px;
    position: relative;
    margin-top: 50px;
}
.active-option {
    display: block !important;
}
.update-register {
    display: none;
}

table {
    margin-top: 12px;
}
table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
table thead {
    text-transform: uppercase;
    font-size: 11px;
    color: #3b3b3b;
}
table .button-show {
    background: rgba(0, 0, 0, 0.3);
}
table .button-drop {
    background: #f0458e;
}
table .item-action-button {
    cursor: pointer;
    font-size: 11px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    border-radius: 3px;
    width: 118px;
}

.my-likes,
.my-items,
.my-wishs {
    display: none;
    position: relative;
}
.my-likes tbody tr,
.my-items tbody tr {
    color: #3b3b3b;
    font-size: 12px;
    text-transform: uppercase;
}
.my-likes .item-image,
.my-items .item-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: block;
    background-image: url(http://bit.ly/2yiSzg2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
}
.my-likes .item-description,
.my-items .item-description {
    width: 200px;
    padding-bottom: 0px;
    margin-top: 15px;
}

.my-items .btn-floating-swapage{
    position: absolute;
    right: -116px;
    top: 3%;
}

.trades {
    display: none;
}
.trades .chip {
    border-radius: 12px;
}
.trades .button-show {
    display: inline-block;
    width: 58px;
    margin-bottom: 6px;
    text-align: center;
}
.trades .button-drop {
    display: inline-block;
    width: 64px;
    text-align: center;
}
.trades .trade-or-donate {
    text-transform: uppercase;
    font-size: 11px;
}

/* Forms */
.trades .chip > img {
    border-radius: 12px;
}
.update-register label,
.date-field input {
    text-transform: uppercase;
    font-size: 11px !important;
    color: black;
    font-weight: 500;
}

.file-field .btn {
    background: #f0458e;
    font-weight: 300;
    border-radius: 5px;
}
.register-button-submmit {
    border-radius: 5px;
    color: #ffffff;
    font-weight: 100;
    background: #f0458e;
}
.register-button-close:hover {
    background-color: rgba(148, 148, 148, 0.4);
    border-radius: 5px;
    color: white;
}
.date-field {
    position: relative;
    margin-top: 1rem;
}
.picker__date-display {
    background: linear-gradient(to top left, rgba(238, 9, 121, 0.8), #ee6e73);
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    background: linear-gradient(to top left, rgba(238, 9, 121, 0.8), #ee6e73);
    border-radius: 15px;
}
.picker__close,
.picker__today,
.picker__clear {
    color: #ea0060;
    font-weight: 300;
    font-size: 15px;
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
    background: inherit;
    color: #ea0060;
}
.btn-floating-swapage {
    background-color: #f0458e;
    border-radius: 30%;
}
.btn-floating-swapage:hover,
.btn-floating-swapage:focus{
    background-color: #bb1f66;
}

/* Footer */
.footer-copyright span {
    display: inline-block;
    float: left;
}
.footer-copyright .material-icons {
    font-size: 22px;
    margin: 0 5px;
    color: #e13182;
}

/* New item modal */

#register-item-modal{
    border-radius: 10px;
    max-width: 1200px;
    max-height: 80%;
}
#register-item-modal .row{
    margin-top: 50px;
    width: 85%;
}
#register-item-modal .modal-footer{
    padding: 5px 15px;
    height: auto;
    width: 80%;
    margin: 0 auto;
}
#register-item-modal .email-field{
    margin-top: 20px;
}
#register-item-modal .item-register-title{
    text-align: center;
    margin: 0;
    font-size: 68px;
    font-weight: 900;
    color: #e5005d;
    background: linear-gradient(to top left, rgba(238, 9, 121, 0.8), rgba(255, 106, 0, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#register-item-modal .login-button-close:hover{
    background-color: rgba(148, 148, 148, 0.4);
    border-radius: 5px;
    color: white;
}
#register-item-modal .login-button-access{
    border-radius: 5px;
    color: #ffffff;
    background: linear-gradient(to top left, rgba(238, 9, 121, 0.8), #ee6e73);
}

/* label color */
#register-item-modal .modal-content .input-field label {
 color: #929292;
}

/* label focus color */
#register-item-modal .modal-content .input-field input[type=text]:focus + label,
#register-item-modal .modal-content .input-field input[type=password]:focus + label{
 color: #f55b79;
}

/* label underline focus color */
#register-item-modal .modal-content .input-field input[type=text]:focus,
#register-item-modal .modal-content .input-field input[type=password]:focus{
 border-bottom: 1px solid #f55b79;
 box-shadow: 0 1px 0 0 #f55b79;
}

/* invalid color */
#register-item-modal .modal-content .input-field input[type=text].invalid {
 border-bottom: 1px solid red;
 box-shadow: 0 1px 0 0 #000;
}



/*asdasd*/
.sidebar-options-wrapper{
    margin-left: 320px;
    margin-top: 80px;
}
.side-nav.fixed{
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 280px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    position: relative;
}
#account-controller{
    min-height: 100%;
    height: 100%;
    position: absolute;
}

.copyright-wrapper{
    margin: 0 auto;
    width: 425px;
}

header img{
    position: relative;
    margin-top: 40px;
    max-width: 100px;
    float: left;
    margin-right: 20px;
}
/* Menu */
.mobile-nav-bar{
    position: absolute;
    right: 0px;
    top: 30px;
    display: none;
}
.fixed-action-btn.horizontal ul {
    right: 65px;
    top: 45%;
    width: 250px;
}
.mobile-user-view{
    display: none;
    margin-top: 30px;
    position: relative;
}
.mobile-user-view .user-infomations{
    position: absolute;
    margin-left: 15px;
    top: 8px; 
}
.mobile-user-view .user-infomations a{
    display: block;
}
.user-view{
    margin-bottom: 20px !important;
    position: relative;
}
.user-view .user-infomations{
    position: absolute;
    left: 110px;
    top: 23px;
}
.trigger-sidenav{
    position: relative;
}
.trigger-sidenav .material-icons{
    display: none;
    position: absolute;
    top: -32px;
    font-size: 28px;
    left: 18px;
    color: white;
}
.trigger-sidenav:hover .material-icons{
    display: block;
    z-index: 2;
}
.trigger-sidenav .circle{
    -webkit-transition : -webkit-filter 500ms linear
}
.trigger-sidenav:hover .circle{
    filter: brightness(38%);
}

@media only screen and (max-width: 995px) {
    .container {
        width: 85%;
    }
    .responsive-table tr {
        border-bottom: 0px;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
    }
    .responsive-table td {
        padding-top: 1px !important;
        text-align: center !important;
    }
    .my-likes .responsive-table td,
    .my-items .responsive-table td {
        padding-top: 10px !important;
    }
    .my-likes .item-image,
    .my-items .item-image {
        margin: 0 auto;
    }
    .my-likes .item-description,
    .my-items .item-description {
        width: 120px;
    }
    .my-items .btn-floating-swapage{
        position: absolute;
        left: 42%;
        bottom: -136px;
        top: inherit;
    }
}
@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        margin-left: 0;
    }
    .side-bar-logo h3 {
        right: 25px;
    }
    .mobile-user-view{
        display: block;
    }
    #slide-out{
        position: fixed;
    }
    .user-view .user-infomations {
        position: absolute;
        left: 93px;
        top: 5px;
    }
    .mobile-nav-bar{
        display: block;
    }
    .sidebar-options-wrapper{
        margin: 0px;
    }
}
@media only screen and (max-width: 690px) {
    header .s12 h2{
        font-size: 30px;
        margin-top: 25px;
    }
    header img{
        margin-top: 55px;
        max-width: 70px;
    }
}
@media only screen and (max-width: 470px){
    .subpage-header{
        height: auto;
    }
    .subpage-header:before{
        height: 100%;
    }
    header img{
        float: none;
        margin: 10px auto auto auto;
        display: block;
    }
    header .s12 h2{
        text-align: center;
        margin-top: 0px;
        width: 100%;
    }
    .section-title{
        text-align: center;
    }
}
@media only screen and (max-width: 1125px) {
    .my-items .btn-floating-swapage{
        right: -79px;
    }
}
