@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800|Roboto:300,400,500,700,900');

html,
body {
    height: 100%;
}

header {
    padding: 10px;
    margin-bottom: 20px;
}

/* Navigation */
header .container {
    width: 90%;
}


/* Content itens */
.content-items-wrapper {
    margin-bottom: 100px;
}
.content-items-wrapper .container {
    width: 90%;
}
.content-items-wrapper .sidebar {
    height: 65vh;
    width: 260px;
    position: absolute;
    border-radius: 7px;
    border: 2px solid #f24796;
    padding: 20px;
}



/* Itens count */
.content-items-wrapper .itens-count {
    font-size: 11px;
    width: 98%;
    text-align: right;
    display: block;
    color: #9e9e9e;
    border-bottom: 1px solid;
    padding-bottom: 8px;
    margin: auto;
    margin-bottom: 12px;
}
.content-items-wrapper .item-results {
    margin-left: 300px;
}

/* itens */
.itens h2 {
    margin-top: 95px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    color: #373737;
    line-height: 25px;
}
.itens h2 span:first-child {
    color: #f44b7f;
    font-size: 15px;
    font-weight: 400;
}
.itens h2 span {
    display: block;
    font-size: 22px;
    line-height: 22px;
}
.itens-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.grid-sizer {
    width: 33.33%;
}
.grid-item {
    width: 33.33%;
    float: left;
}
.grid-item img {
    display: block;
    max-width: 100%;
}
.item-card {
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border: 1px solid rgba(107, 107, 107, 0.36);
    margin: 8px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow 1s ease;
    -moz-transition: box-shadow 1s ease;
    -o-transition: box-shadow 1s ease;
    transition: box-shadow 1s ease;
}
.item-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.item-card:hover .head img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.item-card .state {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    background: rgb(255, 255, 255);
    z-index: 1;
    font-size: 14px;
    padding: 2px 3px 0px 4px;
    border-radius: 8px;
    border: 1px solid rgba(242, 78, 114, 0.43);
}
.item-card .state span {
    font-weight: 900;
    color: #e5005d;
    background: linear-gradient(to top left, rgba(238, 9, 121, 0.8), rgba(255, 106, 0, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.item-card .head {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    overflow: hidden;
}
.item-card .head img {
    min-width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.item-card .body {
    position: relative;
    padding: 10px 20px;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.item-card .body .item-name {
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px;
    color: rgba(16, 16, 16, 0.91);
}
.item-card .body .author {
    font-weight: 300;
    color: #e16b29;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px;
}
.item-card .body .author span {
    white-space: nowrap;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 9px;
    font-weight: 500;
    margin-left: 3px;
    background: rgba(248, 1, 55, 0.8);
}
.item-card .head .action-like {
    opacity: 0;
    transition: 0.2s filter linear, 0.2s -webkit-filter linear;
    filter: grayscale(100%);
    position: absolute;
    right: 20px;
    bottom: 14px;
    color: #444;
    width: 35px;
}
.item-card .head .action-like img {
    width: 35px;
}
.item-card .head .action-like span {
    transition: 0.4s color linear, 0.3s color linear;
    text-align: center;
    display: block;
    font-size: 12px;
    font-weight: 800;
    margin-top: -28px;
}
.item-card .head .action-like:hover {
    filter: none;
    color: #E5005D;
}
.item-card:hover .head .action-like {
    opacity: 1;
}

/* power-by */
.power-by {
    height: 40px;
    background-color: #1a1919;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    color: white;
}
.power-by span {
    color: #c92949;
}

@media only screen and (max-width: 950px) {
    .grid-sizer,
    .grid-item {
        width: 33.333%;
    }
}
@media only screen and (max-width: 750px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}
@media only screen and (max-width: 470px) {
    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}

/* Material Design heres */
header, main, footer {
  margin-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    margin-left: 0;
  }
}

.account-sidebar .background{
    height: 176px;
    width: 100%;
    background-color: rgb(241, 69, 150);
}

.subpage-header{
    height: 176px;
    padding-left: 25px;
    background: linear-gradient(to left, rgba(255, 106, 0, 0.6), rgba(238, 9, 121, 0.8));
}
.subpage-header h2{
    margin-top: 0;
    padding-top: 36px;
    font-size: 68px;
    font-weight: 900;
    color: #ffffff;
}
